/* Utility classes */

.nobr {
  white-space: nowrap;
}

/* Global Styles */

html, body {
  min-height: 100%;
}

body {
  background: #6b004c;
  font-family: "Arimo", Tahoma, sans-serif;
  color: #eeeeee;
}

h1, h2 {
  font-family: "Space Mono", Tahoma, sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  border-bottom: 2px dotted #eeeeee;
  color: #eeeeee;
}

.card__icon, .reveal-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Mobile */

.collapser, .reveal-button {
  display: none;
}

/* Card */

.card {
  background-color: #E6EBE0;
}

.card__contents {
  padding: 65px 20px;
  text-align: center;
  color: #111111;
}

.card__contents a {
  color: #e8494e;
  border-color: #e8494e;
}

.card__name {
  margin: 0;
  font-size: 2em;
}

.card__contact {
  margin: 10px 0 0 0;
  line-height: 1.5;
  font-style: normal;
}

.card__icon {
  display: inline-block;
  min-width: 25px;
  text-align: center;
}

/* Links */

.content {
  text-align: center;
  padding: 20px;
}

.content__blurb {
  margin: 0 auto;
  font-family: "Space Mono", Tahoma, sans-serif;
  line-height: 1.9em;
  text-align: left;
  max-width: 600px;
}

.content__blurb p {
  margin-top: 0;
}

.content__blurb em {
  font-style: normal;
  background-color: #9b2583;
  padding: 2px;
}

.content__section {
  display: inline-block;
  margin-right: 20px;
  padding-top: 5px;
  min-width: 125px;
  max-width: 200px;
  vertical-align: top;
  text-align: left;
}

.content__section p {
  line-height: 1.8em;
}

.content__title {
  margin: 0;
  font-size: 1.2em;
  color: #eeeeee;
}

.content__list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.content__item {
  margin-bottom: 10px;
}

.content__item::after {
  font-weight: bolder;
  content: ",";
}

.content__item:last-of-type::after {
  content: "";
}

.content__languages {
  color: #aaaaaa;
  font-weight: lighter;
}

/* Mobile Separator (for links columns) */

.mobile-separator {
  display: block;
}

@media (min-width: 640px) {
  .mobile-separator {
    display: none;
  }
}

/* Desktop Styles */

@media screen and (min-width: 960px) and (min-height: 480px) {
  body {
    background: linear-gradient(135deg, #771561 20%, #6b004c 20%) fixed;
  }

  .collapser {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: block;
    background-color: #e1e3dc;
    box-shadow: 0 10px 6px -6px #000000;

    z-index: 1;

    transition-property: top, left, width, height, box-shadow, border-radius, transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.23, 1.0, 0.32, 1.0);
  }

  .page--revealed .collapser {
    border-radius: 5px;
  }

  .card {
    background-color: transparent; /* since we're using the collaper */
    position: fixed;
    z-index: 2;
    transition-property: transform;
  }

  .card, .collapser {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.23, 1.0, 0.32, 1.0);
  }

  .card__contents {
    padding: 60px 32px 20px 20px; /* 32px to accommodate button */
    text-align: left;
  }

  .reveal-button {
    position: absolute;
    right: -32px; /* button height / 2 */
    top: 94px; /* [ 250 (card height) - 64 (button height) ] / 2 */

    display: block;
    width: 64px;
    height: 64px;
    z-index: 3;
  }

  .reveal-button__circle {
    display: inline-block;
    border-radius: 50%;
    width: 64px;
    height: 64px;

    transition: all 0.1s ease-out;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #EB5B61;
    cursor: pointer;

    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
  }

  .reveal-button__circle:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  }

  .reveal-button__circle:active {
    background-color: #ED6E72;
    transform: scale(1.0);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.5);
  }

  .reveal-button__chevron {
    display: inline-block;
    padding: 4px 0 0 0; /* visually center chevron (by eye) */
    transition: 0.4s all 0.1s ease-out;
    text-align: center;
  }

  .page--revealed .reveal-button__chevron {
    padding: 4px 4px 0 0;
    transform: rotateY(180deg);
  }

  .card, .page--revealed .collapser {
    top: 20%;
    left: 5%;
    width: 400px;
    height: 250px;
  }

  .page--revealed .card, .page--revealed .collapser {
    transform: rotate(-5deg);
  }

  .content {
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 470px; /* 420px (card width) + 30px (button width) + 20px (breathing room) */
    text-align: left;
    z-index: 0;
  }

  .content__blurb {
    margin: 0 0 40px 0;
    padding: 0;
    font-size: 1.2em;
    max-width: 500px;
    text-align: justify;
  }

  .content__section {
    border-top: 2px solid #E6EBE0;
  }
}
